.designTshirt {
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.imgTshirt {
  position: relative;
  width: 80%;
}
.imgTshirt img {
  width: 100%;
}

.shadowTshirt {
  position: absolute;
  top: 0;
  width: 80%;
}
.shadowTshirt img {
  width: 100%;
}
.upperShadow {
  z-index: 100;
}
.underShadow {
  z-index: 50;
}

.designItems {
  position: absolute;
  z-index: 75;
  top: 25%;
  width: 30%;
  max-height: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.designItems img {
  width: 100%;
}
.designItems p {
  margin: 0;
}

.text1,
.text2 {
  font-weight: 700;
}
