:root{
    --gradient: linear-gradient(319deg, #d63230 0%, #f39237 37%, #97cc04 100%)
}

.setting{
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    background-color: #fff;
    height: 100%;
}

.setting > * {
    margin-bottom: 15px;
}

.settingLabel{
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;
}

.color label{
    width: 50px;
    height: 50px;
}

.fontSlider{
    margin: 10px 0 0;
}
.btn-save{
    justify-self: center;
    color: #fff;
    background-color: #d63230;
    background-image: var(--gradient);
}
.btn-save:hover,
.btn-save:focus{
    background-color: #d63230;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--gradient);
}
.btn-save:focus{
    color: #f39237;
}